# Carpetas de build
dist/

# IDE
.vscode/

# Documentación del proyecto
docs_manual/

# Carpetas de datos
datos_coello/
lambda-ideam-proxy/

# Archivos borradores
codigo-para-capa-estaciones-hidrom-version1-con-grafica.txt 